@model Newsletter
<section data-aos="fade-up">
    <div class="container">
        <h2>@Localizer["Subcribe to our Newsletter"]</h2>
        <p class="lead">@Localizer["Get updates about SafeBlock.io and news about cryptocurrencies."]</p>
        <div class="separator mb-5"></div>
        <form class="row offset-md-3 col-md-6" asp-controller="Home" asp-action="SubscribeNewsletter" data-ajax="true" data-ajax-method="POST" data-ajax-failure="FailedSubscribed" data-ajax-success="SuccessfullySubscribed">
            <div class="col-md-8 p-0">
                <input type="text" id="email-input-newsletter" asp-for="Email" class="form-control p-2" placeholder="@Localizer["Enter your email address..."]" aria-label="Recipient's username" aria-describedby="basic-addon2">
            </div>
            <div class="col-md-4 pr-0">
                <button class="btn-block btn p-2 btn-holo btn-primary" id="email-button-newsletter" type="submit">@Localizer["Subscribe"]</button>
            </div>
        </form>
        <p class="small text-center text-muted pt-4">@Localizer["Read more about how we collect and use your data in our"] <a asp-controller="Home" asp-action="PrivacyPolicy">@Localizer["Privacy Policy"]</a>.</p>
    </div>
</section>