@model KnowledgeBase
@{
    ViewData["Title"] = "Support Center";
}
<div id="edge-background" class="simple"></div>
<div id="wave-header">
    <div class="container">
        <div class="offset-md-2 col-md-8 text-center">
            <h1 class="text-white mb-4 pb-2">@Localizer["Search in KnowledgeBase"]</h1>
            <form method="post" asp-controller="Support" asp-action="SearchKnowledgebase">
                <div class="input-group mb-3">
                    <input type="text" class="form-control form-control-lg search" asp-for="Query" placeholder="@Localizer["Search help on our knowledge database."]" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-transparent normal pl-4 pr-4" type="submit"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
            <p class="text-white-50 m-0 pt-3">@Localizer["Live support is available from your dashboard."]</p>
        </div>
    </div>
</div>
<div id="wrapper">
    <main id="main">
        <section class="pt-3">
            <div class="container">
                <ul class="nav tabs justify-content-center" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="knowledgebase-tab" data-toggle="tab" href="#knowledgebase" role="tab" aria-controls="knowledgebase" aria-selected="true">@Localizer["KnowledgeBase"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="faq-tab" data-toggle="tab" href="#faq" role="tab" aria-controls="faq" aria-selected="false">@Localizer["FAQ"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">@Localizer["Contact Us"]</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent" data-aos="fade-up" data-aos-duration="1200">
                    <div class="tab-pane fade show active" id="knowledgebase" role="tabpanel" aria-labelledby="knowledgebase-tab">
                        <div class="row mt-5">
                            <div class="col-lg-3" data-aos="fade" data-aos-duration="700" data-offset="1000">
                                <img src="~/static/icons/icons8-utilisateur-50.png" class="icon"/>
                                <h5>@Localizer["My Account"]</h5>
                                <p class="small"><a asp-controller="Support" asp-action="ViewResult" asp-route-term="account" class="inherit">@Localizer["View Articles"] &rarr;</a></p>
                            </div>
                            <div class="col-lg-3" data-aos="fade" data-aos-duration="900" data-offset="2000">
                                <img src="~/static/icons/icons8-protection-des-données-50.png" class="icon"/>
                                <h5>@Localizer["Privacy Policy"]</h5>
                                <p class="small"><a asp-controller="Support" asp-action="ViewResult" asp-route-term="privacy" class="inherit">@Localizer["View Articles"] &rarr;</a></p>
                            </div>
                            <div class="col-lg-3" data-aos="fade" data-aos-duration="1100" data-offset="3000">
                                <img src="~/static/icons/icons8-paramètres-de-l'api-50.png" class="icon"/>
                                <h5>@Localizer["API Using"]</h5>
                                <p class="small"><a asp-controller="Support" asp-action="ViewResult" asp-route-term="api" class="inherit">@Localizer["View Articles"] &rarr;</a></p>
                            </div>
                            <div class="col-lg-3" data-aos="fade" data-aos-duration="1300" data-offset="4000">
                                <img src="~/static/icons/icons8-lien-50.png" class="icon"/>
                                <h5>@Localizer["Affiliation"]</h5>
                                <p class="small"><a asp-controller="Support" asp-action="ViewResult" asp-route-term="affiliation" class="inherit">@Localizer["View Articles"] &rarr;</a></p>
                            </div>
                        </div>
                        <div class="row mt-4 pt-4">
                            <div class="col-lg-3" data-aos="fade" data-aos-duration="1500" data-offset="5000">
                                <img src="~/static/icons/icons8-stockage-en-ligne-50.png" class="icon"/>
                                <h5>@Localizer["Full Node Hosting"]</h5>
                                <p class="small"><a asp-controller="Support" asp-action="ViewResult" asp-route-term="hosting" class="inherit">@Localizer["View Articles"] &rarr;</a></p>
                            </div>
                            <div class="col-lg-3" data-aos="fade" data-aos-duration="1700" data-offset="6000">
                                <img src="~/static/icons/icons8-espion-homme-50.png" class="icon"/>
                                <h5>@Localizer["Anonymity"]</h5>
                                <p class="small"><a asp-controller="Support" asp-action="ViewResult" asp-route-term="anonymity" class="inherit">@Localizer["View Articles"] &rarr;</a></p>
                            </div>
                            <div class="col-lg-3" data-aos="fade" data-aos-duration="1900" data-offset="7000">
                                <img src="~/static/icons/icons8-argent-50.png" class="icon"/>
                                <h5>@Localizer["Billing & Payment"]</h5>
                                <p class="small"><a asp-controller="Support" asp-action="ViewResult" asp-route-term="payment" class="inherit">@Localizer["View Articles"] &rarr;</a></p>
                            </div>
                            <div class="col-lg-3" data-aos="fade" data-aos-duration="2100" data-offset="8000">
                                <img src="~/static/icons/icons8-empreinte-digitale-50.png" class="icon"/>
                                <h5>@Localizer["Authentication"]</h5>
                                <p class="small"><a asp-controller="Support" asp-action="ViewResult" asp-route-term="authentication" class="inherit">@Localizer["View Articles"] &rarr;</a></p>
                            </div>
                        </div>
                        <p class="text-center mt-5 text-muted small">@Localizer["Get a reward by participating in writing articles, join our"] <a href="https://discord.gg/zA6PKqU" target="_blank">discord</a>.</p>
                    </div>
                    <div class="tab-pane fade" id="faq" role="tabpanel" aria-labelledby="faq-tab">
                        <div class="row mt-5">
                            <div class="col-lg-12">
                                <partial name="FAQ" />
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        <div class="row justify-content-md-center mt-5">
                            <div class="col-lg-9" id="content-test">
                                <partial name="ContactForm" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>