<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SafeBlock.io | @ViewBag.Title</title>
    @*META*@
    <partial name="Metas" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/pixeden-stroke-7-icon/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/web-fonts-with-css/css/fontawesome-all.min.css" />
    <link rel="stylesheet" href="~/lib/mdi/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="~/lib/nprogress/nprogress.css" />
    <link rel="stylesheet" href="~/lib/toastr/toastr.min.css" />
    <link rel="stylesheet" href="~/lib/master-slider/css/masterslider.main.css" />
    <link rel="stylesheet" href="~/lib/magnific-popup/dist/magnific-popup.css" />
    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/slider.css"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/slider.min.css" asp-append-version="true" />
    </environment>
    @RenderSection("Head", required: false)
</head>
<body>
    <partial name="_CookieConsentPartial" />
    <partial name="Popups" />
    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent zi-top" id="navbar">
        <div class="container-fluid py-4">
            <a asp-controller="Home" asp-action="Index" class="navbar-brand">
                <img src="~/static/logo.png" alt="SafeBlock.io" class="logo" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item ml-4">
                        <a href="#tor-popup" class="nav-link open-popup-link"><i class="mdi mdi-24px mdi-tor"></i>safeblockcjm5jbf.onion</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav ml-auto m-auto">
                    <li class="nav-item">
                        <a href="@(Context.Request.Path != "/" ? "/":"")#services" class="nav-link">Services</a>
                    </li>
                    <li class="nav-item ml-3">
                        <a asp-controller="ICO" asp-action="Index" class="nav-link">ICO
                            <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                        </a>
                    </li>
                    <li class="nav-item ml-3">
                        <a class="nav-link" href="/documentation" target="_blank">API Documentation</a>
                    </li>
                    <li class="nav-item ml-3">
                        <a class="nav-link" href="#">App.</a>
                    </li>
                    <li class="nav-item ml-3">
                        <a asp-controller="Blog" asp-action="Index" class="nav-link @(Context.Request.Path.ToString().StartsWith("/blog") ? "active":"")">Blog</a>
                    </li>
                    <li class="nav-item ml-3">
                        <a asp-controller="Support" asp-action="Index" class="nav-link @(Context.Request.Path.ToString().StartsWith("/support") ? "active":"")">Support</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav ml-auto">
                    @if(!User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item ml-3">
                            <a asp-controller="Account" asp-action="Register" class="btn btn-success small">@Localizer["Register"]</a>
                        </li>
                        <li class="nav-item ml-3 p-40">
                            <a asp-controller="Account" asp-action="Login" class="nav-link">@Localizer["Login"]</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item ml-3 p-40">
                            <a asp-controller="Dashboard" asp-action="Index" class="nav-link">Welcome Back !</a>
                        </li>

                    }
                    <li class="nav-item dropdown language-switcher ml-3">
                        <partial name="_LanguageSwitcher" />
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    @RenderBody()
    @if (ViewBag.HideFooter != true)
    {
        <footer>
          <div class="container text-center text-md-left">
              <div class="row text-center text-md-left inner">
                  <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                      <div></div>
                      <img src="/static/logo.png" class="mb-3"/>
                      <p>@Localizer["With SafeBlock.io Keep all your Cryptos in a Perfect Security 💪"]</p>
                      <p class="small">@Localizer["Feel free to create your multi-currency wallet now and enjoy all the features like exchange, mixing ..."]</p>
                  </div>
                  <hr class="w-100 clearfix d-md-none">
                  <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                      <h6 class="text-uppercase mb-4 font-weight-bold">Services</h6>
                      <p><a href="@(Context.Request.Path != "/" ? "/":"")#services">@Localizer["All our Services"]</a></p>
                      <p><a asp-controller="Home" asp-action="Status"><i class="fas fa-server"></i> @Localizer["Service Status"]</a></p>
                      <p><a asp-controller="Dashboard" asp-action="Index">@Localizer["My Account"]</a></p>
                      <p><a asp-controller="Support" asp-action="Index">@Localizer["Get Support"]</a></p>
                  </div>
                  <hr class="w-100 clearfix d-md-none">
                  <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                      <h6 class="text-uppercase mb-4 font-weight-bold">@Localizer["Useful Links"]</h6>
                      <p><a asp-controller="Home" asp-action="PrivacyPolicy">@Localizer["Privacy Policy"]</a></p>
                      <p><a href="#!">@Localizer["Become Affiliated"]</a></p>
                      <p><a href="https://github.com/safeblock/SafeBlock.io" target="_blank"><i class="fas fa-code-branch"></i> @Localizer["Git Repository"]</a></p>
                      <p><a asp-controller="Blog" asp-action="Index">@Localizer["See the Blog"]</a></p>
                  </div>
                  <hr class="w-100 clearfix d-md-none">
                  <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                      <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                      <p class="text-muted"><i class="fas fa-envelope mr-2"></i><a href="mailto:contact@safeblock.io">contact@safeblock.io</a></p>
                      <p class="text-muted"><i class="fab fa-twitter mr-2"></i> <a href="https://twitter.com/safeblock_io" target="_blank">safeblock_io</a></p> 
                      <p class="text-muted"><i class="fab fa-discord mr-2"></i> <a href="https://discord.gg/zA6PKqU" target="_blank">discord.gg/zA6PKqU</a></p> 
                      <p class="text-muted"><i class="fas fa-key mr-2"></i> <a href="/safeblock-pgp-key.asc" data-toggle="tooltip" data-placement="top" title="Fingerprint: 4BD8 8D4C 1882 5867 790E  4528 5681 6686 F338 3210" target="_blank">PGP: F3383210</a> <a href="https://pgp.key-server.io/pks/lookup?op=get&fingerprint=on&search=0x56816686F3383210"><sup><i class="fas fa-external-link-alt"></i></sup></a></p> 
                  </div>
              </div>
          </div>
          <div class="py-3 pt-4 d-flex align-items-center sub-footer">
              <div class="col-md-12 col-lg-12">
                  <p class="text-center">Copyright &copy; @DateTime.Now.Year SafeBlock.io - <i class="fab fa-github"></i>
                      <a href="https://github.com/safeblock/SafeBlock.io" class="inherit" target="_blank">@Localizer["Source Aailable on Github"]</a> - @Localizer["Thought with 💛 by"] <a href="https://about.me/clint-mourlevat" class="inherit" target="_blank">Clint Mourlevat</a>.</p>
              </div>
          </div>
        </footer>
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery.easing/js/jquery.easing.min.js"></script>
    <script src="~/lib/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/nprogress/nprogress.js"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script src="~/lib/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="~/lib/master-slider/js/masterslider.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
    @RenderSection("Scripts", required: false)
    <environment include="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-97451022-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
        
            gtag('config', 'UA-97451022-1');
        </script>
        <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="015b29c5-d995-4502-8940-80dcf48101c9";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
    </environment>
</body>
</html>